/* 主介面 */
#panel{
    position: absolute;
    top: 3vh;
    width: 85vmin;
    height: 90vmin;
    left: 50%;
    transform: translate(-50%);
}

/* 控制所有格子 */
#grid-container {
    display: grid;
    background-color: #000000;
    width: 100%;
    aspect-ratio: 1 / 1;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    outline-style: solid;
    outline-color: #000000;
    outline-width: 1vmin;
    gap: 1%;
}

/* 回上一步 */
#back{
    background-color: #c19a56fb;
    width: 20vmin;
    height: 10vmin;

    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);

    font-size: 5vmin;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* 格子-大 */
.grid{
    background-color: #1670d0;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    gap: 2%;
}

/* 格子-小 */
.cell {
    background-color: #a2cfe7;
    aspect-ratio: 1 / 1;
}

/* 格子 圈 */
.cell.o{
    background-color:beige;
}

/* 格子 叉 */
.cell.x{
    background-color: #6c4506;
}

.cell.highlight{
    background-color:#07cc6d;
}
